In [1]:
24000

24000

In [2]:
24000 - 1000

23000

In [3]:
1400 - 1000

400

In [4]:
salary = 24000
salary

24000

In [12]:
house_rent = 10000 

food = 5000

In [11]:
house_rent

10000

In [13]:
food

5000

In [15]:
total_expense = house_rent + food
total_expense

15000

In [17]:
savings = salary - total_expense
savings

9000

In [18]:
print("my savings in a year is:", savings)

my savings in a year is: 9000

In [19]:
course_fee = 299
num_of_months = 6

In [21]:
total_fee = course_fee * num_of_months 
print(total_fee)

1794

In [22]:
num_1 = 2
num_2 = 2

In [23]:
print(num_1 + num_2)

4

In [24]:
total = num_1 + num_2

In [25]:
total

4

In [26]:
"day" + "light"

'daylight'

In [29]:
num_1 = 2 
num_3 = "2"

In [30]:
num_1 + num_3

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [31]:
type(num_3)

str

In [34]:
x = True
y = False

In [35]:
print('x and y is:', x and y)

x and y is: False

In [36]:
print('x or y is:', x or y)

x or y is: True

In [37]:
print('not x is:', not x)

not x is: False

In [38]:
print('not y is:', not y)

not y is: True

In [39]:
x = "awesome"
x

'awesome'

In [40]:
print('python is + x')

python is + x

In [42]:
x = "Python is"
y = "awesome. "

z = x + y

print(z)

Python is awesome

In [44]:
a = z * 4
print(a)

Python is awesomePython is awesomePython is awesomePython is awesome

In [48]:
len(x)

9

In [47]:
len(z)

17

In [49]:
x = y = z = "Python"

print(x)
print(y)
print(z)

Python
Python
Python

In [50]:
b = x + y 
b

'PythonPython'

In [52]:
x = y ==z 
print(x)

True

In [53]:
a,b,c = 5,3.2,"Hello"
print(a)
print(b)
print(c)

5
3.2
Hello

In [54]:
color_a = 'Red'
color_b = 'Blue'

print(color_a, color_b)

Red Blue

In [55]:
color_c = color_a 
print(color_a, color_b, color_c)

Red Blue Red

In [56]:
color_a = color_b 
print(color_a, color_b, color_c)

Blue Blue Red