In [1]:
24000

24000

In [2]:
24000 - 1000

23000

In [3]:
1400 - 1000

400

In [4]:
salary = 24000
salary

24000

In [12]:
house_rent = 10000 

food = 5000

In [11]:
house_rent

10000

In [13]:
food

5000

In [15]:
total_expense = house_rent + food
total_expense

15000

In [17]:
savings = salary - total_expense
savings

9000

In [18]:
print("my savings in a year is:", savings)

my savings in a year is: 9000

In [19]:
course_fee = 299
num_of_months = 6

In [21]:
total_fee = course_fee * num_of_months 
print(total_fee)

1794

In [22]:
num_1 = 2
num_2 = 2

In [23]:
print(num_1 + num_2)

4

In [24]:
total = num_1 + num_2

In [25]:
total

4

In [26]:
"day" + "light"

'daylight'

In [29]:
num_1 = 2 
num_3 = "2"

In [30]:
num_1 + num_3

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [31]:
type(num_3)

str