In [1]:
empty = []

In [2]:
empty

[]

In [3]:
list_str = ["One", "Two", "Three", "Four"]
list_str

['One', 'Two', 'Three', 'Four']

In [4]:
type(list_str)

list

In [6]:
list_int =[1,2,3,4]
list_int

[1, 2, 3, 4]

In [7]:
list_float = [1.2, 3.4, 5.4, 2.5]
list_float

[1.2, 3.4, 5.4, 2.5]

In [8]:
list_bool = [True, False]
list_bool

[True, False]

In [9]:
mixed_list = ["Nissan Sentra", 1, 2.5, True]
mixed_list

['Nissan Sentra', 1, 2.5, True]

In [11]:
cars_list = ["Toyota Camry", "Honda Accord", "Honda Civic", "Toyota Corolla"]
cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [12]:
print(cars_list[2])

Honda Civic

In [13]:
print(cars_list[0])

Toyota Camry

In [14]:
print(cars_list[1])
print(cars_list[2])
print(cars_list[3])

Honda Accord
Honda Civic
Toyota Corolla

In [15]:
print(cars_list[-1])

Toyota Corolla

In [16]:
len(cars_list)

4

In [17]:
print("car at index 2", cars_list[2])

car at index 2 Honda Civic

In [18]:
print(cars_list[-3])

Honda Accord

In [19]:
print(cars_list[1,2])

TypeError: list indices must be integers or slices, not tuple

In [20]:
cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']